@charset "utf-8";
/*顶部*/
body{ background:#fbfbfb}

/*登录*/
.login_bg{ width:100%; height:100%; display:none; background:url("../images/lg_bg.png")/*tpa=http://xm.taojianz.com/images/lg_bg.png*/ repeat; position:fixed; z-index:98; top:0; left:0;}
.login{ width:471px; height:419px;background:url("../images/lg_bg.png")/*tpa=http://xm.taojianz.com/images/lg_bg.png*/ repeat; border-radius:8px; z-index:99; position: fixed; top:50%; margin-top:-209px; left:50%; margin-left:-235px; display:none;}
.login_c{ background:#fff;border-radius:8px;width:457px; height:405px; margin:7px; }
.login_c .l_t{ height:65px; background:#fbfbfb; border-bottom:1px solid #cccccc;border-top-left-radius:8px;border-top-right-radius:8px;}
.login_c .l_t .l_logo{ float:left; overflow:hidden;}
.login_c .l_t .l_logo img{ float:left; margin-right:10px; margin-left:15px; margin-top:10px;}
.login_c .l_t .l_logo p{ font-family:"微软雅黑"; font-size:14px; float:left; margin-top:25px;}
.login_c .l_t .l_close a{ float:right; margin-right:30px; margin-top:20px;width:15px; height:15px; display:block; background:url("../images/close.png")/*tpa=http://xm.taojianz.com/images/close.png*/ top no-repeat;}
.login_c .l_t .l_close a:hover{ background-position:bottom;}

.login_c .log_tab{ margin: 20px auto 35px auto; width:365px; height:36px;}
.login_c .log_tab ul li{ width:174px; height:36px; background:#fbfbfb; line-height:36px; text-align:center; display:block; margin-right:8px; float:left;}
.login_c .log_tab ul li a{ color:#999999; font-size:16px; display:block}
.login_c .log_tab ul li.cur{ background:url("../images/log_cur.gif")/*tpa=http://xm.taojianz.com/images/log_cur.gif*/ no-repeat;}
.login_c .log_tab ul li.cur a{ color:#77441c;}
#log_box{ width:365px; margin:0 auto; display:block}
.login_c .log_box{ display:none; position:relative;}
.login_c .log_box.block{ display:block}
.login_c .input1{ border:none; border-bottom:1px solid #d1d1d1; background:url("../images/phone.png")/*tpa=http://xm.taojianz.com/images/phone.png*/ left center no-repeat; height:40px;  width:345px; padding-left:15px; margin-bottom:10px; color:#888}
.login_c .input2{ border:none; border-bottom:1px solid #d1d1d1; background:url("../images/lock.png")/*tpa=http://xm.taojianz.com/images/lock.png*/ left center no-repeat; height:40px; width:345px; padding-left:15px;margin-bottom:30px; color:#888}
.login_c .input1:focus{ background:url("../images/phone.png")/*tpa=http://xm.taojianz.com/images/phone.png*/ left center no-repeat #fbfbfb; color:#333}
.login_c .input2:focus{ background:url("../images/lock.png")/*tpa=http://xm.taojianz.com/images/lock.png*/ left center no-repeat #fbfbfb; color:#333}
.login_c .log_now{ width:358px; height:46px; border-radius:3px; line-height:46px; text-align:center; border:1px solid #edbe00; background:#ffe67f; margin:10px 0; display:block;}
.login_c .log_now a{ color:#000; display:block;}
.login_c .log_now:hover{ background:#ffea92;}
.login_c .log_xy{ height:16px; line-height:16px; display:block; font-size:12px; position:relative;}
.login_c .log_xy input{ vertical-align:middle; margin-right:5px;}
.login_c .log_xy a{color:#333;}
.login_c .log_xy a:hover{ color:#f1bb00;}
.login_c .log_xy a.r_a{ position:absolute; right:20px;top:0px;}
.l_tips{ background:#fff8bd; font-size:12px; height:30px; line-height:30px; padding-left:10px; position:absolute; width:355px; top:-28px; left:0; color:#ff6600;}
.l_tips a{ color:#7a5d3d; margin-left:5px;text-decoration: underline;}
/* 全屏切换 */
.flexslider{position:relative;height:370px;overflow:hidden;}
.slides{position:relative;z-index:1;margin-top:-1px;}
.slides li{height:370px;}
.flex-direction-nav{position:absolute;z-index:3;width:100%;top:50%; margin-top:-75px;visibility: hidden}
.flex-direction-nav li a{display:block;width:42px;height:150px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:50%; margin-left:-560px;background: url("../images/prev.png")/*tpa=http://xm.taojianz.com/images/prev.png*/ center center no-repeat;}
.flex-direction-nav li a.flex-next{left:50%; margin-left:540px;background: url("../images/next.png")/*tpa=http://xm.taojianz.com/images/next.png*/ center center no-repeat;}
.flexslider:hover .flex-direction-nav{ visibility:visible}
/*搜索*/
.search{ height:130px; width:1190px; margin:60px auto 25px; background:#fff; position:relative;}
.search em{ color:#555555; font-weight:bold; height:32px; font-size:32px;top:-25px;width:1190px; text-align:center; display:block; position:absolute;}
.search .s_search{ width:660px; height:44px;  margin:50px 0 0 270px; float:left; overflow:hidden;}
.search .s_search .s_s{background: url("../images/search.gif")/*tpa=http://xm.taojianz.com/images/search.gif*/ left center no-repeat; width:560px;border:2px solid #ff8a00;height:40px; border-right:none; float:left;position:relative;background-position:15px 12px; }
.search .s_search input{ border:none; color:#333; padding-left:5px;  height:38px;  width:510px; left:0; z-index:22; position: absolute; background:url(about:blank) ;margin-left:30px}
/*.search .s_search .s_s .labe{ background:url(../images/search.gif) left center no-repeat;z-index:1; position:absolute; left:0; top:0;  height:38px; line-height:38px; width:539px; font-size:12px; color:#888; padding-left:20px;}
*/
.search .s_search a{ width:76px; background:#ff8a00; border-top-right-radius:3px; border-bottom-right-radius:3px; border:1px solid #ff8a00; text-align:center; color:#fff; display:block; height:42px; line-height:42px; float:left;}
.search .s_search a:hover{ background:#ff9b26;}
/*中间内容*/
.c_left{ float:left; width:900px;}

/*筛选*/
.selectNumberScreen{ width:898px; border:1px solid #e8e8e8; margin-bottom:20px; font-size:12px; background:#fff;}
.screenBox dl {border-bottom: #e6e6e6 1px dashed; overflow: hidden}
.screenBox dl.noborder { border-bottom:none;}
.screenBox dl.hidden{ display:none;}
.screenBox dl dt {float: left; height: 38px; line-height:38px; width:95px; text-align:center; color:#989898;}
.screenBox dl dd {position: relative; padding-left:10px;width:680px; padding-right:100px; float: left;}
.screenBox dl dd a { margin-right:25px;display: inline-block; line-height:20px; margin-top:8px; color: #000; overflow: hidden; text-decoration: none}
.screenBox dl dd a:hover {color: #ff7803}
.screenBox dl dd span.more {position: absolute; width: 39px;display: block; background:url("../images/arrow.gif")/*tpa=http://xm.taojianz.com/images/arrow.gif*/ bottom right no-repeat; height: 12px; line-height:12px; top:12px; cursor: pointer; right: 1px}
.screenBox dl dd span.more label {display: inline-block; cursor: pointer}
.screenBox dl dd span.more2{ background:url("../images/arrow.gif")/*tpa=http://xm.taojianz.com/images/arrow.gif*/ top right no-repeat;}
.screenBox dl dd span.more3 {position: absolute; width: 39px; display: block; height: 18px; line-height:18px; text-align:center;  top: 8px; cursor: pointer; right: 50px; border:1px solid #eee; background:#fafafa;}
.hasBeenSelected { border-bottom:1px solid #e8e8e8; position:relative;}
.hasBeenSelected dl {overflow: hidden}
.hasBeenSelected dl dt {float: left; width:95px; text-align:center;line-height: 50px;height: 50px; color:#555555;}
.hasBeenSelected dl dd {float: left;padding-bottom: 4px; padding-left: 0px; width: 676px; padding-right: 0px; padding-top: 0px}
.hasBeenSelected .gw{ position:absolute; right:10px; top:0; height:50px; line-height:50px; padding-right:35px; display:block; background: url("../images/arrow2.gif")/*tpa=http://xm.taojianz.com/images/arrow2.gif*/ right center no-repeat; color:#999999;}
.hasBeenSelected .gw .gwh1{float: left;font-size: 12px;margin-right: 5px;color: #555555;max-width: 200px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.hasBeenSelected .gw.gw2{background: url("../images/arrow3.gif")/*tpa=http://xm.taojianz.com/images/arrow3.gif*/ right center no-repeat;}
.selectedInfor {position: relative; margin: 14px 10px 0px 0px; padding-left: 5px; padding-right: 17px; display: block; white-space: nowrap; background: #fff; float: left; height: 17px; border: #e8e8e6 1px solid;  padding-top: 1px; max-width:140px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.selectedInfor label {color: #000}
.selectedInfor em {background: url("../images/em_c.gif")/*tpa=http://xm.taojianz.com/images/em_c.gif*/ no-repeat;cursor: pointer;display: block;height: 7px;overflow: hidden;position: absolute;right: 5px;top: 5px;width: 7px;}
.selectedInfor:hover{ border:1px solid #f60}
.selectedInfor:hover em{background: url("../images/em_c2.gif")/*tpa=http://xm.taojianz.com/images/em_c2.gif*/ no-repeat;}
.selectedInfor:hover label {color: #666}
.screenBox dl dd.duo{ padding-bottom:30px;}
.screenBox dl dd.duo a{ background: url("../images/click_1.gif")/*tpa=http://xm.taojianz.com/images/click_1.gif*/ left center no-repeat; padding-left:15px;}
.screenBox dl dd.duo a:hover{ background: url("../images/click_2.gif")/*tpa=http://xm.taojianz.com/images/click_2.gif*/ left center no-repeat; padding-left:15px; color:#000}
.screenBox dl dd a.re{ background: url("../images/click_2.gif")/*tpa=http://xm.taojianz.com/images/click_2.gif*/ left center no-repeat; padding-left:15px;}
.queren{ width:50px; height:20px; line-height:20px; position:absolute; left:250px; bottom:5px; display:none; text-align:center; background:#ff8a00; border:1px solid #ff6600; border-radius:3px; color:#fff;cursor:pointer; font-style:normal;}
.quxiao{ width:50px; height:20px; line-height:20px; position:absolute; left:350px; bottom:5px; display:none; text-align:center; background:#fff; border:1px solid #e8e8e8; border-radius:3px; color:#000; cursor:pointer; font-style:normal;}
a.here{ color:#c00;}

.c_left .def-tab{ border-bottom:3px solid #ff8901;}
.c_left .def-tab ul li{ width:150px; height:41px; background:#fbfbfb; line-height:41px; text-align:center; display:block; float:left;}
.c_left .def-tab ul li a{ color:#555555; font-size:16px; display:block;background:url("../images/def_nor.gif")/*tpa=http://xm.taojianz.com/images/def_nor.gif*/ right no-repeat;}
.c_left .def-tab ul li.cur{ background:url("../images/def_cur.gif")/*tpa=http://xm.taojianz.com/images/def_cur.gif*/ no-repeat;}
.c_left .def-tab ul li.cur a{ color:#fff;}
.c_left .def-box{ display:none;}
.c_left .def-box.block{ display:block}
.jiazai{ background:#f0f0f0; height:38px; line-height:38px; text-align:center; margin:15px 0 65px 0; cursor:pointer; font-size:12px; color:#333333;}

.c_right{ float:right; width:270px; }
.c_right .dt{ border:1px solid #eeeeee; background:#fff; border-top:2px solid #ff8a00; margin-bottom:20px;}
.c_right .dt em{ font-style:normal; padding-left:15px; height:36px; line-height:36px; font-size:13px; color:#333333; font-weight:bold;border-bottom:1px solid #eeeeee; display:block;}
.c_right .dt ul{ padding:5px 15px;}
.c_right .dt ul li{ background: url("../images/dot.gif")/*tpa=http://xm.taojianz.com/images/dot.gif*/ left center no-repeat; padding-left:10px; border-bottom:1px dashed #eee; height:40px; line-height:40px;}
.c_right .dt ul li:hover {background: url("../images/dot_c.gif")/*tpa=http://xm.taojianz.com/images/dot_c.gif*/ left center no-repeat;}
.c_right .dt ul li a{ width:210px; padding-right:15px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; color:#666666; background:url("../images/arr.gif")/*tpa=http://xm.taojianz.com/images/arr.gif*/ right center no-repeat; font-size:12px; display:block;}
.c_right .dt ul li:hover a{ color:#ff8a00;background:url("../images/arr_c.gif")/*tpa=http://xm.taojianz.com/images/arr_c.gif*/ right center no-repeat;}
.c_right .dt ul li.last{ border:none;}
.c_right .dt p{ line-height:20px; height:20px; margin-bottom:10px; margin-left:40px; font-size:12px; color:#666; position:relative;}
.c_right .dt p a{ width:48px; text-align:center; display:inline-block; margin-left:15px; text-align:center; height:18px; line-height:18px; background:#f3f3f3; border:1px solid #e4e4e4; color:#333333;}
.c_right .dt p a b{ color:#ff6700; margin-right:3px;}
.c_right .dt p a:hover{ background:#ff8a00; border-color:#ff8a00; color:#fff;}
.c_right .dt p a:hover b{ color:#fff;}
.c_right .dt .ewm{ text-align:center; line-height:30px; font-size:12px; color:#666; margin-top:20px;}
.c_right .dt .qq{ background:url("../images/reg_btn.png")/*tpa=http://xm.taojianz.com/images/reg_btn.png*/ -150px 3px no-repeat; width:20px; height:20px; margin-right:5px; display:inline-block; float:left;}
.c_right .dt .wb{ background:url("../images/reg_btn.png")/*tpa=http://xm.taojianz.com/images/reg_btn.png*/ -150px -26px no-repeat; width:20px; height:20px; margin-right:5px; display:inline-block;float:left;}
.c_right .dt .wxewm{ width:205px; height:242px; background:url("../images/wxewm.gif")/*tpa=http://xm.taojianz.com/images/wxewm.gif*/ no-repeat; position:absolute; top:-250px; left:0px; display:block;}
.c_right .dt .wx{ background:url("../images/reg_btn.png")/*tpa=http://xm.taojianz.com/images/reg_btn.png*/ -150px -55px no-repeat; width:20px; height:20px; margin-right:5px; display:inline-block;float:left;}
.c_right .dt .tjz{ background:url("../images/d_logo.png")/*tpa=http://xm.taojianz.com/images/d_logo.png*/  no-repeat; width:80px; height:20px; margin-right:5px; display:inline-block;float:left;}

/*分页*/
.d_page{ width:100%;line-height:25px; margin:25px auto 15px auto; text-align:center; font-size:12px;}
.d_page a{ padding:0 8px; border:1px solid #e5e5e5; border-radius:3px; color:#666; background:#fff; margin:0 3px; line-height:26px; height:26px; display:inline-block;}
.d_page a:hover{ background:#ff9519; border:1px solid #ff9519; color:#ff9519;}
.d_page a.cur{ background:#ff9519; border:1px solid #ff9519; color:#fff;}
.d_page i{padding:0 5px; color:#666;line-height:28px; display:inline-block;}

/*返回顶部*/
.cbbfixed{position: fixed;right: 10px;transition: bottom ease .3s;bottom: -175px;z-index: 3;cursor:pointer;}
.cbbfixed .cbbtn{width: 50px;height: 50px;display: block;}
.cbbfixed .gotop{transition: background ease .3s;background:url("../images/reg_btn.png")/*tpa=http://xm.taojianz.com/images/reg_btn.png*/ -180px -0px no-repeat;}
.cbbfixed .gotop:hover{background:url("../images/reg_btn.png")/*tpa=http://xm.taojianz.com/images/reg_btn.png*/ -250px -0px no-repeat;}
.cbbfixed .cweixin{transition: background ease .3s;background:url("../images/reg_btn.png")/*tpa=http://xm.taojianz.com/images/reg_btn.png*/ -180px -51px no-repeat;}
.cbbfixed .cweixin:hover{background:url("../images/reg_btn.png")/*tpa=http://xm.taojianz.com/images/reg_btn.png*/ -250px -51px no-repeat;}
.cbbfixed .weibo{transition: background ease .3s;background:url("../images/reg_btn.png")/*tpa=http://xm.taojianz.com/images/reg_btn.png*/ -180px -103px no-repeat; margin-top:1px}
.cbbfixed .weibo:hover{background:url("../images/reg_btn.png")/*tpa=http://xm.taojianz.com/images/reg_btn.png*/ -250px -103px no-repeat;}


/*详情*/
.detail_xq{ width:838px; border:1px solid #e8e8e8; padding:20px 30px; background:#fff; font-size:12px; margin-top:20px;margin-bottom:20px;}
.detail_xq .p_title{ border-bottom:1px solid #ff8a00; height:40px; line-height:40px; margin-bottom:20px;}
.detail_xq .p_title b{ height:16px; line-height:16px; border-left:5px solid #ff8a00; padding-left:10px; display:inline-block; font-size:16px;}
.detail_xq .detail_nr{ margin-bottom:30px;}
.detail_xq .detail_nr ul li{ line-height:30px; margin-bottom:5px; overflow:hidden; font-size:14px;}
.detail_xq .detail_nr ul li span{ width:90px; display:block; float:left; text-align:left; color:#888;}
.detail_xq .detail_nr ul li p{ float:left; color:#000;}
.detail_xq .detail_nr ul li p.o{ color:#ff4800;}
.detail_xq .detail_nr ul li .table{ float:left; text-align:center;border-top:1px solid #dfdfdf;border-left:1px solid #dfdfdf; background:#fff;}
.detail_xq .detail_nr ul li .table th{ background:#f2f2f2;width:70px; height:38px; line-height:38px; border-bottom:1px solid #dfdfdf;border-right:1px solid #dfdfdf;}
.detail_xq .detail_nr ul li .table td{width:70px; height:48px; line-height:48px;border-bottom:1px solid #dfdfdf;border-right:1px solid #dfdfdf; }
.detail_xq .detail_nr ul li .table td.yes{ background:url("../images/td_yes.gif")/*tpa=http://xm.taojianz.com/images/td_yes.gif*/ scroll 50% no-repeat;}
.detail_xq .detail_nr .p_txt{ font-size:14px; color:#000; text-indent:2em; margin-bottom:30px;}
.detail_xq .detail_nr .thanks{ font-size:12px; height:20px; line-height:20px; margin:10px 0; color:#000; background:url("../images/thanks.gif")/*tpa=http://xm.taojianz.com/images/thanks.gif*/ left center no-repeat; padding-left:30px;}
.detail_xq .detail_nr .d_button{ width:162px; height:46px; line-height:46px; text-align:center; color:#fff; background:#FF8A00; border:1px solid #ff7800; font-size:18px; border-radius:5px; margin:70px 0; display:block; float:left;}
.detail_xq .detail_nr .d_button:hover{ background:#ff9b26;}
.detail_xq .detail_nr .sc{ background:url("../images/sc.gif")/*tpa=http://xm.taojianz.com/images/sc.gif*/ left center no-repeat; padding-left:28px; height:48px; line-height:48px; float:right; margin-left:20px; font-size:12px; cursor:pointer; font-weight:normal; margin-top:80px;}
.detail_xq .detail_nr .sc:hover{ color:#FF8A00}
.detail_xq .detail_nr .fk{ background:url("../images/fk.gif")/*tpa=http://xm.taojianz.com/images/fk.gif*/ left center no-repeat; padding-left:28px; height:48px; line-height:48px; float:right; margin-left:20px; font-size:12px; cursor:pointer; font-weight:normal;margin-top:80px;}
.detail_xq .detail_nr .fk:hover{ color:#FF8A00}
.d_tx{ width:778px; font-size:13px; border:2px solid #d8d8d8; border-radius:10px; margin:15px 0 50px 0; padding:30px; position:relative; color:#8e8e8e;}
.d_tx span{ left:50%; margin-left:-75px; display:block; position:absolute; top:-30px; background:#fff; color:#FF8A00; width:150px; text-align:center; height:50px; line-height:50px;}

/*弹出详情*/
.t_xq{ width:900px; position:absolute; left:50%; margin-left:-450px; top:50px; z-index:999; display:none;}
.t_xq_bg{ background:url("../images/bg2.png")/*tpa=http://xm.taojianz.com/images/bg2.png*/ repeat; width:100%; height:100%; position: fixed; left:0; top:0px; z-index:998; display:none;}
.t_xq_arrow{position:absolute;z-index:3;width:100%;top:50%; margin-top:-75px;}
.t_xq_arrow a{display:block;width:62px;height:150px;overflow:hidden;cursor:pointer;position:absolute;}
.t_xq_arrow a.t_xq_prev{left:50%; margin-left:-530px;background: url("../images/xq_arrow.png")/*tpa=http://xm.taojianz.com/images/xq_arrow.png*/ top left no-repeat;}
.t_xq_arrow a.t_xq_next{left:50%; margin-left:470px;background: url("../images/xq_arrow.png")/*tpa=http://xm.taojianz.com/images/xq_arrow.png*/ top right no-repeat;}
.t_xq_arrow a.t_xq_prev:hover{left:50%; margin-left:-530px;background: url("../images/xq_arrow.png")/*tpa=http://xm.taojianz.com/images/xq_arrow.png*/ bottom left no-repeat;}
.t_xq_arrow a.t_xq_next:hover{left:50%; margin-left:470px;background: url("../images/xq_arrow.png")/*tpa=http://xm.taojianz.com/images/xq_arrow.png*/ bottom right no-repeat;}
a.t_xq_close{display:block;width:62px;height:62px;overflow:hidden;cursor:pointer;position:absolute;left:50%; margin-left:470px; top:50px;background: url("../images/xq_close.png")/*tpa=http://xm.taojianz.com/images/xq_close.png*/ top right no-repeat;}
a.t_xq_close:hover{left:50%; margin-left:470px;background: url("../images/xq_close.png")/*tpa=http://xm.taojianz.com/images/xq_close.png*/ bottom left no-repeat;}
/*LJ*/ 
/*.c_right .dt .div1 { margin-left:40px;}*/
.c_right .dt .div1 .div2{ line-height:20px; height:20px; margin-bottom:10px; margin-left:40px; font-size:12px; color:#666; position:relative;}
.c_right .dt .div1 .div2 .a{ width:48px; text-align:center; display:inline-block; margin-left:15px; text-align:center; height:18px; line-height:18px; background:#f3f3f3; border:1px solid #e4e4e4; color:#333333;}
.c_right .dt .div1 .div2 .a .b{ color:#ff6700; margin-right:3px;}
.c_right .dt .div1 .div2 .a:hover{ background:#ff8a00; border-color:#ff8a00; color:#fff;}
.c_right .dt .div1 .div2 .a:hover .b{ color:#fff;}

.detail_xq .detail_nr .d_label{ width:162px; height:46px; line-height:46px; text-align:center; color:#fff; background:#ddd; border:1px solid #ddd; font-size:18px; border-radius:5px; margin:70px 0; display:block; float:left; cursor:none}
.detail_xq .detail_nr .d_label:hover{ background:#8e8e8e;}
/*企业流水详单*/ 
.jy_staff_table {
float: left;
text-align: center;
border-top: 1px solid #dfdfdf;
border-left: 1px solid #dfdfdf;
background: #fff;
} 
.jy_staff_table th {
background: #f2f2f2;
width: 157px;
height: 38px;
line-height: 38px;
border-bottom: 1px solid #dfdfdf;
border-right: 1px solid #dfdfdf;
font-size: 14px;
color: #000;
/*text-indent: 2em;*/
margin-bottom: 30px;
} 
.jy_staff_table td {
width: 150px;
height: 24px;
line-height: 24px;
border-bottom: 1px solid #dfdfdf;
border-right: 1px solid #dfdfdf;
font-size: 14px;
color: #000;
/*text-indent: 2em;*/
margin-bottom: 30px;
} 
.jy_table {
float: left;
text-align: center;
border-top: 1px solid #dfdfdf;
border-left: 1px solid #dfdfdf;
background: #fff;
} 
.jy_table th {
background: #f2f2f2;
width: 150px;
height: 38px;
line-height: 38px;
border-bottom: 1px solid #dfdfdf;
border-right: 1px solid #dfdfdf;
font-size: 14px;
color: #000;
/*text-indent: 2em;*/
margin-bottom: 30px;
} 
.jy_table .th {
background: #f2f2f2;
width: 80px;
height: 38px;
line-height: 38px;
border-bottom: 1px solid #dfdfdf;
border-right: 1px solid #dfdfdf;
font-size: 14px;
color: #000;
/*text-indent: 2em;*/
margin-bottom: 30px;
} 
.jy_table td {
width: 130px;
height: 24px;
line-height: 24px;
border-bottom: 1px solid #dfdfdf;
border-right: 1px solid #dfdfdf;
font-size: 14px;
color: #000;
/*text-indent: 2em;*/
margin-bottom: 30px;
}
.jy_table td a {
float:left;
margin-left:10px;
}  
/**企业创建员工*/
  .sub-navi {
        width: 100%;
        height: 38px;
        overflow: hidden;
        zoom: 100%;
        margin-bottom: 40px;
    }

        .sub-navi li {
            float: left;
            margin-right: 1px;
        }

            .sub-navi li a {
                width: 100%;
                height: 38px;
                line-height: 38px;
                color: #fff;
                text-align: center;
                display: block;
                font-size: 14px;
                background: #e7e7e7;
                color: #303041;
                transition: all 0.25s ease-in-out;
                -ms-transition: all 0.25s ease-in-out 0s;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                -o-transition: all 0.25s ease-in-out;
            }

                .sub-navi li a small {
                    font-size: 12px;
                }

            .sub-navi li:first-child a {
                border-radius: 5px 0 0 5px;
            }

            .sub-navi li:last-child a {
                border-radius: 0 5px 5px 0;
            }

            .sub-navi li a.active, .sub-navi li a.active:hover {
                background: #ff9b26;
                color: #fff;
            }

            .sub-navi li a:hover {
                background: #cfcfcf;
            }
             .half li {
        width: 49%;
    } 
        .clearFix:after  {
            height: 0;
            visibility: hidden;
            content: ".";
            display: block;
            clear: both;
        }
        
    .tip1 { 
        position: relative; 
        left: 100px;
        min-width: 100px;
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        color: #5da4d4;
        background: url("../images/tip.png")/*tpa=http://xm.taojianz.com/images/tip.png*/ 0 no-repeat;
        float: left;
        padding-left: 20px;
        word-wrap: break-word;
        word-break: keep-all;
        overflow: hidden;
        margin-left: -260px;  
    }
    .error1 {
        position: relative;
        left: 100px;
        min-width: 100px;
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        color: #ff6600;
        background: url("../images/error.png")/*tpa=http://xm.taojianz.com/images/error.png*/ 0 no-repeat;
        float: left;
        padding-left: 20px;
        word-wrap: break-word;
        word-break: keep-all;
        overflow: hidden;
        margin-left: -260px;
    } 